<app-sidebar></app-sidebar>

<div class="retun">
  <div class="row"> 
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
      
    </div>
  </div>
</div>

<div>
  <div class="row"> 
    <div class="container avalade">
      <div class="jumbotron">
        <h1>Seja Bem Vindo</h1>
        <p>SCI - Sistema de Controle de Integrado</p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row"> 
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-primary bcButton" (click)="setAction('cad');">Cadastro</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success bcButton" (click)="setAction('list');">Listagem</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-warning bcButton" (click)="setAction('config');">Config</button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-danger bcButton" (click)="setAction('acess');">Acessos</button>
        </div>
      </div>
    </div>
  </div>
</div>